<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tuanfei.mapper.ActivityFeeMapper">


    <select id="selectListPage" resultType="com.example.tuanfei.entity.ActivityFee"  parameterType="com.example.tuanfei.Param.FeeParam">
        select a.* from activity_fee a, activity b where a.activity_id=b.id and  b.is_completed=1  and  a.member_id=#{memberId}
        order by a.id desc limit #{page},#{limit};
    </select>
    <select id="selectFeeCount" resultType="long" parameterType="com.example.tuanfei.Param.FeeParam">
        select count(1) from activity_fee a, activity b where a.activity_id=b.id and  b.is_completed=1  and  a.member_id=#{memberId}
        order by a.id desc
    </select>
</mapper>
